---
layout: page
author: ametcalfe
title: Posts by Andy Metcalfe
---

<ul>
{% for p in site.posts do %}
  {% if p.author == page.author %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>


<div id="blog-archives">
{% for post in site.posts reverse %}
	{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
	{% unless year == this_year %}
	  {% assign year = this_year %}
	  <h2>{{ year }}</h2>
	{% endunless %}
	<article>
	  {% include archive_post_by_author.html %}
	</article>
{% endfor %}
</div>